<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trader</title>

  <script src="js/socket.io.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="js/bootstrap-sortable.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>

  <script src="js/echarts.min.js"></script>
  <!-- 引入 vintage 主题 -->
  <script src="js/vintage.js"></script>

  <link href="css/bootstrap.min.css" rel="stylesheet"></link>
  <link href="css/style.css" rel="stylesheet"></link>
  <link href="css/bootstrap-sortable.css" rel="stylesheet">
</head>
<body ng-controller="mainCtrl">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#all" data-toggle="tab">All</a></li>
    <li ng-repeat="name in coins" data-toggle="tooltip" data-placement="bottom" title="{{getReadableName(name)}}"><a id="tab-{{name}}" href="#{{name}}" data-toggle="tab" ng-click="clickTab(name)">{{name}}</a></li>
  </ul>
  <!--********************************************-->
  <div class="tab-content container-fluid">
    <div class="tab-pane active" id="all">
       <table class="table sortable">
        <thead>
          <tr>
            <th ng-repeat="index in indice track by $index" data-sortcolumn="{{$index}}">{{index}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(coin, row) in ticks track by $index" ng-class="['active', 'success', 'warning', 'danger', 'info'][$index % 5]" style="cursor: pointer">
            <td ng-repeat="(index, value) in row track by $index" data-toggle="tooltip" data-placement="bottom" title="{{getReadableName(row.name)}}" ng-click="gotoDetail(row.name, $index)">{{value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--*********************each coin***********************-->
    <div ng-repeat="name in coins" class="tab-pane" id="{{name}}">
      <div ng-repeat="(index, value) in ticks[name] track by $index" class="tile">
        <span class="label label-primary">{{index}}</span>
        :
        <span class="label label-warning">{{value}}</span>
      </div>
      <div style="clear: both; height: 15px;"></div>
      <div class="fixed-tile">
        <button ng-click="requestOrderAmountByPrice(name, hours)">价格量统计</button>
        <input ng-model="hours">距今小时</input>
      </div>
    </div>
    <div id="chart-order-amount-by-price" style="width: 500px; height:2400px;"></div>
  </div>
</body>
</html>